html{
    height: 100vh;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    background-color: #F3F5FC;
    height: 100vh;
}

header{
    display: flex;
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    align-items: center;
}

/*Codigo para los botones*/
button{
    padding: 1em 1em;
    background-color: #e8e8e8;
    color: #000000;
    border: 1px solid #0A3871;
    border-radius: 0.6em;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .5);
    cursor: pointer;
    box-sizing: border-box;
    font-size: 1.1em;
    transition: .5s;
}

button:hover{
    background-color: #0A3871;
    color: #f1f1f1;
    border: 1px solid #e8e8e8;
    color: #f1f1f1;
    border: 1px solid #e1e5ee;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.imagen-logo-h1{
    width: 120px;
    height: 48px;
    cursor: pointer;
    transform: scale(0.7);
    transition: all .5s;
}

.imagen-logo-h1:hover{
    transform: scale(0.8);
}

/*Contenedor de ambas secciones a trabajar*/
.container-section{
    width: 80%;
    height: 75vh;
    margin: 0 auto;
    display: grid;
    column-gap: 10%;
}

/*Section1 y todo su contenido - Desktop*/
.section1{
    grid-column-start: 1;
    grid-column-end: 3;
}

.container-campo-encriptado{
    width: 100%;
    height: 80%;
}

.caja-texto{
    width: 100%;
    height: 95%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 2px solid #e1e5ee;
    resize: none;
    outline: none;
    color: #0a3871;
    font-weight: 600;
    background: white;
    box-sizing: border-box;
}

.label-caja-texto{
    position: absolute;
    padding-top: 1em;
    padding-left: 1em;
    margin-left: 0.3em;
    margin-top: 0.4em;
    left: 10%;
    font-family: 'Rubik', sans-serif;
    font-size: 1.1em;
    color: #888484;
    font-weight: 600;
    background-color: #ffffff;
    cursor: text;
}

.container-advertencia{
    display: flex;
    align-items: center;
    height: 10%;
}

.advertencia{
    margin-left: 0.5em;
}

.container-buttons{
    height: 10%;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
}

/*.boton-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
}*/

/*Section2 y todo su contenido - Desktop*/
.section2{
    background-color: violet;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #ffffff;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .5);
    border-radius: 1em;
    display: flex;
    align-items: center;
}

.container-section2{
    width: 100%;
    height: 75%;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Ocultar elementos al dar respuesta*/
.ocultar{
    display: none;
}

.container-imagen-muñeco img{
    width: 100%;
    max-width: 336px;
}

.msj-no-encontrado{
    font-size: 1.3em;
    font-weight: bold;
}

.container-parrafo p{
    font-size: 0.9em;
    margin-top: 1em;
}

/*Footer*/
footer{
    width: 100%;
    height: 12.5vh;
}

.container-redes{
    width: 100%;
    height: 90%;
    position: relative;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-redes{
    min-width: 20%;
    display: flex;
    justify-content: space-around;
}

.button-redes a i{
    text-decoration: none;
    font-size: 1.5em;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #0A3871;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

.button-redes a i:hover{
    transform: scale(1.2);
}